cvxpy==1.4.1
gurobipy==10.0.2
gym==0.26.2
numpy==1.26.4
pip==23.1.2
pyglet==1.5.26
PyYAML==6.0
scipy==1.11.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorboardX==2.6.1
tensorflow-probability==0.24.0
tensorstore==0.1.53
torch==2.0.1
torch-geometric==2.3.1
torch-scatter==2.1.1
torch-sparse==0.6.17
torchaudio==2.0.2
torchvision==0.15.2
tqdm==4.66.2
wandb==0.15.4